.Parent{
    padding-top: 100px;
    background-image: url('friends.jpeg');
    background-size: cover;
    height: 80vh;
}
.main{
    display: flex;
    justify-content: center;

}



h1{
    color: white;
}

.text{
    margin-left: 560px;
    margin-right: auto;
    
}

.btn-add{
    border: 1px solid #99A799;
    border-radius: 14px;
    width: 290px;
    height: 50px;
    background-color: #99A799;
    color: #FBFFE2;
    margin-top: 30px;
    margin-bottom: 100px;
    padding-top: 20px;
    text-align: center;
}

.links{
    font-size: 19px;
}